@charset "utf-8";

body {
    margin : 0px;
}


h1{
    font-weight:bold;
    font-family:sans-serif;
}

.shopping_list {
    list-style-type: none;
    margin : 5px;
    padding : 0px; 
    
}

.shopping_item {
    width : 100%;
    margin : 5px 0px;
    float : left;
    background-color : #ddd;
}


.thumb {
    margin : 5px;
    background-image : url(img/logo.jpg);
    background-position : 50% 50%;
/*    background-repeat : no-repeat;*/
/*    border : 1px solid #bbb;*/
    height :100px;
}

p {
    margin : 10px;
}