@charset "utf-8";


/* common css(reset css)*/

body {
    margin : 0px;
}


ul {   
    list-style-type: none;
    margin : 0px;
    padding : 0px; 
}

/* 상품 목록 */

.shopping_list {
    padding : 0 5px;

    
}

.shopping_item {
/*
    width : 20%;
    float : left;
*/
/*    padding : 5px;*/
/*    box-sizing : border-box;  */
}

.shopping_item .box {
    padding : 0 5px;
}

.thumb {
    height :100px;
    background-image : url(img/logo.jpg);
    background-position : 50% 50%;
    background-size : cover;
    border : 1px solid #bbb;
}

.ellipsis{
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
}

p {
    margin : 10px;
}



@media screen and (min-width:600px) {
    .shopping_item {
        width : 50%;
        float : left;
}
}


